#main {
    width: 600px;
    float: left;
    background-color: #00feff;
}
#nav {
    width: 200px;
    float: right;
    background-color: #02ff00;
}
#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffa00;
}
#header {
    text-align: center;
    background-color: #ff0003;
}
#body {
    background: #ff00a6;
}