#main {
  width: 600px;
  float: right;
}
#nav {
  width: 200px;
  float: left;
}
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  text-align: center;
}
#body {
  background: ;
}
